.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .categoryListContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .categoryContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      img {
        width: 150px;
      }
    }
  }
}
